<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Typography</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="/components//main.html" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Typography</h2>
          <p class="component-sub-heading">
            The different typography used by kart is presented here.
          </p>
          <div class="component-sub-container">
            <div class="kart-headings-container">
              <p class="gray-centered-heading">Gray Centered Heading</p>
              <h1 class="h1-heading">h1. Kart Heading</h1>
              <h2 class="h2-heading">h2. Kart Heading</h2>
              <h3 class="h3-heading">h3. Kart Heading</h3>
              <h4 class="h4-heading">h4. Kart Heading</h4>
              <h5 class="h5-heading">h5. Kart Heading</h5>
              <h6 class="h6-heading">h6. Kart Heading</h6>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;p class="gray-centered-heading"&gt;Gray Centered Heading &lt;/p&gt;
                &lt;h1 class="h1-heading" &gt;h1. Kart Heading&lt;/h1&gt;
                &lt;h2 class="h2-heading" &gt;h2. Kart Heading&lt;/h2&gt;
                &lt;h3 class="h3-heading"&gt;h3. Kart Heading&lt;/h3&gt;
                &lt;h4 class="h4-heading"&gt;h4. Kart Heading&lt;/h4&gt;
                &lt;h5 class="h5-heading"&gt;h5. Kart Heading&lt;/h5&gt;
                &lt;h6 class="h6-heading"&gt;h6. Kart Heading&lt;/h6&gt;  
              </code>
             </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
