@import url(./components/main.css);

.landing-page {
  display: flex;
  justify-content: center;
  margin-top: 16rem;
  padding: 0rem 2rem;
}
.landing-page-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}
.landing-page-contents-title {
  font-size: 4rem;
}

.landing-page-contents-summary {
}

.landing-page-contents-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 0.1rem solid var(--black);
}
.landing-page-contents-btn {
  text-decoration: none;
  font-size: 2rem;
  border-radius: 3px;
  color: var(--black);
}

.landing-page-contents-btn-container:hover {
  background-color: var(--black);
  color: var(--white);
}
.landing-page-contents-btn:hover {
  color: var(--white);
}
