@import url(./components/main.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-page {
  display: flex;
  justify-content: center;
  margin-top: 16rem;
  padding: 0rem 2rem;
}
.landing-page-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}
.landing-page-contents-title {
  font-size: 4rem;
}

.landing-page-contents-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 0.1rem solid var(--black);
}
.landing-page-contents-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 200px;
  color: white;
  background-color: var(--black);
  border: none;
  border-radius: 5px;

  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-page-contents-btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}
