<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Card</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">GitHub</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Card/card.html"
          >Card</a
        >
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container"></section>
    </main>
  </body>
</html>
