.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 350px;
  height: 270px;
  border: 1px solid var(--border-color);
  margin: 20px;
  padding: 15px 20px;
  gap: 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
}
.card-description {
  line-height: 1.2;
  font-size: 20px;
}

/* card with dismiss */
.card-dismiss-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.card-close {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-decoration: none;
  border-radius: 50%;
  padding: 3px;
  transition: 0.1s ease-in;
}
.card-close:hover {
  background-color: var(--danger);
  /* border: 1px solid var(--border-color); */
}
.card-close-icon {
  color: var(--border-color);
}
.card-close-icon:hover {
  color: var(--white);
}
