.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 350px;
  position: relative;
  border: 1px solid var(--border-color);
  margin: 20px;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -3px 28px -15px rgba(0, 0, 0, 0.75);
}
.card-description {
  line-height: 1.2;
  font-size: 20px;
}

/* card with dismiss */
.card-dismiss-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.card-close {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-decoration: none;
  border-radius: 50%;
  padding: 3px;
  transition: 0.1s ease-in;
}
.card-close:hover {
  background-color: var(--danger);
  /* border: 1px solid var(--border-color); */
}
.card-close-icon {
  color: var(--border-color);
}
.card-close-icon:hover {
  color: var(--white);
}

/* Product Card */
.card-content-img {
  margin-top: 50px;
}
.card-titles-wishlist-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 2px 0px;

  /* background-color: red; */
}
.wishlist-icon {
  color: var(--danger);
}
.card-description-container {
  margin-top: 10px;
  display: flex;

  /* border: 1px solid black; */
}
.card-description-old-price {
  /* text-decoration: line-through;
  text-decoration-thickness: 1px; */

  margin: 0px 20px;

  position: relative;
  text-decoration: none;
  color: var(--black);
}
.card-description-old-price::before,
.card-description-old-price::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 10px;
  left: 0;
  background-color: var(--black);
}

.card-description-old-price::before {
  transform: rotate(8deg);
}
.card-description-old-price::after {
  transform: rotate(-8deg);
}

.card-add-to-cart-button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 4px;

  background-color: var(--primary);
  color: var(--white);
}
.card-add-to-cart-button:hover {
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
}

/* card overlay */

.card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 35px;
  color: var(--white);
  background-color: rgba(84, 81, 81, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* card with badge */
.card-badge{
  position: absolute;
  top: 3;
  left: 0;
  background-color: var(--primary);
  color: var(--white);
  padding: 5px;
}