<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Card</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Card/card.html"
          >Card</a
        >
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Cards</h2>
          <p class="component-sub-heading">
            The card component is used to group various pieces of content into a
            container which can be used throughout your website. They should be
            easy to scan for relevant and actionable information. Elements, like
            text and images, should be placed on them in a way that clearly
            indicates hierarchy.
          </p>
          <h2 class="component-title">Cards With Text</h2>
          <p class="component-sub-heading">
            This is an simple card with an title and small description. To use
            this you need to use two classes 'card' for the basic layout and
            'card-title' for the heading.
          </p>
          <div class="component-sub-container">
            <div class="card-container">
              <h3 class="card-title">Card Heading</h3>
              <div>Card Sub Heading</div>
              <p class="card-description">
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                
                &lt;div class="card-container"&gt;
                  &lt;h3 class="card-title"&gt;Card Heading&lt;/h3&gt;
                  &lt;div&gt;Card Sub Heading&lt;/div&gt;
                  &lt;p class="card-description"&gt;
                    some description
                  &lt;/p&gt;
                &lt;/div&gt;
               
      
              </code>
            </pre>
          </div>

          <h2 class="component-title">Card With Dismiss</h2>
          <p class="component-sub-heading">
            It's basically a simple card added with an an icon which closes the
            card; needs to be given when we want the card to be dismissible.
            Here we basically add two more class in the above card example
            'card-dismiss-header' and 'card-close'.
          </p>
          <div class="component-sub-container">
            <div class="card-container">
              <div class="card-dismiss-header">
                <h3 class="card-title">Card Heading</h3>
                <a href="#" class="card-close close">
                  <span class="material-symbols-outlined card-close-icon">
                    close
                  </span>
                </a>
              </div>
              <div>Card Sub Heading</div>
              <p class="card-description">
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
          <div class="component-sub-container">
            <pre> 
              <code class="language-html">
                
                &lt;div class="card-container"&gt;
                &lt;div class="card-dismiss-header"&gt;
                  &lt;h3 class="card-title"&gt;Card Heading&lt;/h3&gt;
                  &lt;a href="#" class="card-close close"&gt;
                    &lt;span class="material-symbols-outlined card-close-icon"&gt;
                      close
                    &lt;/span&gt;
                  &lt;/a&gt;
                &lt;/div&gt;
                &lt;div&gt;Card Sub Heading&lt;/div&gt;
                  &lt;p class="card-description"&gt;
                    some description
                  &lt;/p&gt;
                &lt;/div&gt;
               
      
              </code>
            </pre>
          </div>

          <h2 class="component-title">Product Card</h2>
          <p class="component-sub-heading">
            This is another kind of product card which can be used to signify
            cases like product being out of stock. Here we simply add another
            div with the class 'card-overlay-msg' to the above product card.
          </p>
          <div class="component-sub-container">
            <div class="card-container">
              <img src="/images/shoe.webp" alt="" class="card-content-img" />
              <div class="card-titles-wishlist-container">
                <div class="card-titles">
                  <h3 class="card-title">Shoe F6</h3>
                  <p class="card-sub-title">35 mm glr</p>
                </div>
                <a href="#" class="card-wishlist wishlist">
                  <span class="material-symbols-outlined wishlist-icon">
                    favorite
                  </span>
                </a>
              </div>
              <div class="card-description-container">
                <p class="card-description">
                  Rs 2000
                  <span class="card-description-old-price">Rs 4000</span> 10%
                  off
                </p>
              </div>
              <button class="card-add-to-cart-button">ADD TO CART</button>
            </div>
          </div>
          <div class="component-sub-container">
            <pre> 
              <code class="language-html">
                
              &lt;div class="card-container"&gt;
                &lt;img src="/images/shoe.webp" alt="" class="card-content-img"/&gt;
                &lt;div class="card-titles-wishlist-container"&gt;
                   &lt;div class="card-titles"&gt;
                      &lt;h3 class="card-title"&gt;Shoe F6&lt;/h3&gt;
                      &lt;p class="card-sub-title"&gt;35 mm glr&lt;/p&gt;
                    &lt;/div&gt;
                   &lt;a href="#" class="card-wishlist wishlist"&gt;
                     &lt;span class="material-symbols-outlined wishlist-icon"&gt;
                      favorite
                      &lt;/span&gt;
                   &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="card-description-container"&gt;
                    &lt;p class="card-description"&gt;
                   Rs 2000 &lt;span class="card-description-old-price"&gt;Rs 4000&lt;/span&gt; 10% off
                  &lt;/p&gt;
                &lt;/div&gt;
               &lt;button class="card-add-to-cart-button"&gt;ADD TO CART&lt;/button&gt;
              &lt;/div&gt;
               
      
              </code>
            </pre>
          </div>

          <!-- card overlay -->
          <h2 class="component-title">Card With Text Overlay</h2>
          <p class="component-sub-heading">
            This is an example of product card used on the e-com sites.
          </p>
          <div class="component-sub-container">
            <div class="card-container">
              <img src="/images/shoe.webp" alt="" class="card-content-img" />
              <div class="card-titles-wishlist-container">
                <div class="card-titles">
                  <h3 class="card-title">Shoe F6</h3>
                  <p class="card-sub-title">35 mm glr</p>
                </div>
                <a href="#" class="card-wishlist wishlist">
                  <span class="material-symbols-outlined wishlist-icon">
                    favorite
                  </span>
                </a>
              </div>
              <div class="card-description-container">
                <p class="card-description">
                  Rs 2000
                  <span class="card-description-old-price">Rs 4000</span> 10%
                  off
                </p>
              </div>
              <button class="card-add-to-cart-button">ADD TO CART</button>
              <p class="card-overlay-text">OUT OF STOCK</p>
            </div>
            
            <!-- <div class="card-overlay-text-container">
            </div> -->
          </div>
          <div class="component-sub-container">
            <pre> 
              <code class="language-html">
                
              &lt;div class="card-container"&gt;
                &lt;img src="/images/shoe.webp" alt="" class="card-content-img"/&gt;
                &lt;div class="card-titles-wishlist-container"&gt;
                   &lt;div class="card-titles"&gt;
                      &lt;h3 class="card-title"&gt;Shoe F6&lt;/h3&gt;
                      &lt;p class="card-sub-title"&gt;35 mm glr&lt;/p&gt;
                    &lt;/div&gt;
                   &lt;a href="#" class="card-wishlist wishlist"&gt;
                     &lt;span class="material-symbols-outlined wishlist-icon"&gt;
                      favorite
                      &lt;/span&gt;
                   &lt;/a&gt;
                &lt;/div&gt;
                &lt;div class="card-description-container"&gt;
                    &lt;p class="card-description"&gt;
                   Rs 2000 &lt;span class="card-description-old-price"&gt;Rs 4000&lt;/span&gt; 10% off
                  &lt;/p&gt;
                &lt;/div&gt;
               &lt;button class="card-add-to-cart-button"&gt;ADD TO CART&lt;/button&gt;
               &lt;p class="card-overlay-text"&gt;OUT OF STOCK&lt;/p&gt;
              &lt;/div&gt;
               
      
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
