<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Input</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="/components//main.html" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Input/input.html"
          >Input</a
        >
        <a class="sidebar-nav" href="/components/Lists/lists.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <!-- input -->
          <h2 class="component-title">Input</h2>
          <p class="component-sub-heading">
            Input fields are an essential user interface design element,
            providing users with the means to enter non-standardized responses.
            Input component has a range of options and supports several text
            formats including numbers.
          </p>
          <!-- textbox -->
          <h2 class="component-title">Textbox</h2>
          <p class="component-sub-heading">
            This is an general input component i.e., textbox. Textarea tag is is
            used along with class 'input-box' for basic styling. Also Input tag
            can be used to create an text box with type specified as text.
          </p>
          <div class="component-sub-container">
            <div class="input-container">
              <!-- <label for="text-input">Enter Text:</label> -->
              <textarea
                name="text"
                class="text-input"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;textarea name="text" class="text-input" cols="30" rows="10"&gt;&lt;/textarea&gt;
              </code>
            </pre>
          </div>
          <!-- input with validation -->
          <h2 class="component-title">Input with validation</h2>
          <p class="component-sub-heading">
            This is an general input component with validation provided. It can
            be of different natures like success or invalid.
          </p>
          <div class="component-sub-container">
            <div class="input-container">
              <!-- <label for="text-input">Enter Text:</label> -->
              <input type="email" class="input-mail" />
              <p class="email-validation-text">Invalid Email Address</p>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;input type="email" class="input-mail"&gt;
                &lt;p class="email-validation-text"&gt;Invalid Email Address&lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
