<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Avatar</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Avatar/avatar.html"
          >Avatar</a
        >
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>

      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Avatar</h2>
          <p class="component-sub-heading">
            The Avatar component is used to represent a user, and displays the
            profile picture, initials or fallback icon.
          </p>

          <h2 class="component-title">Profile Avatar</h2>
          <p class="component-sub-heading">
            Profile Avatars can be created using the class 'avatar', inside the
            div tag and also use the classes 'avatar-image avatar-circle' inside
            the img tag.
          </p>
          <div class="component-sub-container">
            <div class="avatars-image-container">
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-profile"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-profile"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-profile"
                />
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                
                &lt;div class="avatar-container"&gt;
                &lt;img src="/images/avatar-profile.jpg" alt="avatar-profile"
                class="avatar-profile"/&gt;&lt;/div&gt;

                
              </code>
            </pre>
          </div>
          <h2 class="component-title">Square Avatar</h2>
          <p class="component-sub-heading">
            Rounded Square Avatars can be created using the class 'avatar',
            inside the div tag and also use the classes 'avatar-image
            avatar-square' inside the img tag.
          </p>
          <div class="component-sub-container">
            <div class="avatars-image-container">
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-square"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-square"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-square"
                />
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                
                &lt;div class="avatar-container"&gt;
                &lt;img src="/images/avatar-profile.jpg" alt="avatar-profile"
                class="avatar-square"/&gt;&lt;/div&gt;

                
              </code>
            </pre>
          </div>

          <h2 class="component-title">Sized Avatar</h2>
          <p class="component-sub-heading">
            Size of the avatars can be changed by adding avatar-small,
            avatar-medium or avatar-large class to the existing class in the img
            tag as shown in code snippet.
          </p>
          <div class="component-sub-container">
            <div class="avatars-image-container">
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-small"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-medium"
                />
              </div>
              <div class="avatar-container">
                <img
                  src="/images/avatar-profile.jpg"
                  alt="avatar"
                  class="avatar-large"
                />
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                
                &lt;div class="avatar-container"&gt;
                &lt;img src="/images/avatar-profile.jpg" alt="avatar-profile"
                class="avatar-small"/&gt;&lt;/div&gt;

                &lt;div class="avatar-container"&gt;
                &lt;img src="/images/avatar-profile.jpg" alt="avatar-profile"
                class="avatar-medium"/&gt;&lt;/div&gt;

                &lt;div class="avatar-container"&gt;
                &lt;img src="/images/avatar-profile.jpg" alt="avatar-profile"
                class="avatar-large"/&gt;&lt;/div&gt;

                
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
