<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Toast</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/lists.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Toast/toast.html"
          >Toast</a
        >
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Toast</h2>
          <p class="component-sub-heading">
            The toast component is a non-disruptive message that appears at the
            bottom of the interface to provide quick, at-a-glance feedback on
            the outcome of an action. Here we have use class 'toast' for the
            basic structure and classes 'toast-primary', 'toast-danger' for
            basic styling.
          </p>
          <h2 class="component-title">General Toast</h2>
          <div class="component-sub-container">
            <div class="toast-container general-toast">
              <h3>Hello,world this is toast message.</h3>
              <a href="#" class="close"
                ><span class="material-symbols-outlined"> cancel </span></a
              >
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="toast-container general-toast"&gt;
                  &lt;h3&gt;Hello,world this is toast message.&lt;/h3&gt;
                  &lt;a href="#" class="close"
                    &gt;&lt;span class="material-symbols-outlined"&gt; cancel &lt;/span&gt;&lt;/a
                  &gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
          <!-- error toast -->
          <h2 class="component-title">Error Toast</h2>
          <div class="component-sub-container">
            <div class="toast-container error-toast">
              <h3>Hello,world this is toast message.</h3>
              <a href="#" class="close"
                ><span class="material-symbols-outlined"> cancel </span></a
              >
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="toast-container error-toast"&gt;
                  &lt;h3&gt;Hello,world this is toast message.&lt;/h3&gt;
                  &lt;a href="#" class="close"
                    &gt;&lt;span class="material-symbols-outlined"&gt; cancel &lt;/span&gt;&lt;/a
                  &gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
