<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Lists</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Lists/lists.html"
          >Lists</a
        >
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">List</h2>
          <p class="component-sub-heading">
            Lists are continuous, vertical indexes of text or images. They are
            composed of items containing primary and supplemental actions, which
            are represented by icons and text.
          </p>
          <h2 class="component-title">Spaced List</h2>
          <div class="component-sub-container">
            <div class="list-container">
              <ul class="list list-style">
                <div class="list-title">Categories</div>
                <li class="list-content">Superhero</li>
                <li class="list-content">Science Friction</li>
                <li class="list-content">Horror</li>
                <li class="list-content">Humor</li>
              </ul>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;ul class="list list-style"&gt;
                  &lt;div class="list-title"&gt;Categories&lt;/div&gt;
                  &lt;li class="list-content"&gt;Superhero&lt;/li&gt;
                  &lt;li class="list-content"&gt;Science Friction&lt;/li&gt;
                  &lt;li class="list-content"&gt;Horror&lt;/li&gt;
                  &lt;li class="list-content"&gt;Humor&lt;/li&gt;
                &lt;/ul&gt;
              </code>
            </pre>
          </div>
          <!--  stacked list-->
          <h2 class="component-title">Staked Lists</h2>
          <div class="component-sub-container">
            <div class="list-container">
              <ul class="list list-style">
                <div class="list-title">Categories</div>
                <li class="superhero-list-content">
                  <div class="list-selected">Superhero</div>
                  <ul class="list-style-selected">
                    <li class="list-content">Batman</li>
                    <li class="list-content">Superman</li>
                    <li class="list-content">Green Lantern</li>
                  </ul>
                </li>
                <li class="list-content">Science Friction</li>
                <li class="list-content">Horror</li>
                <li class="list-content">Humor</li>
              </ul>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;ul class="list list-style"&gt;
                  &lt;div class="list-title"&gt;Categories&lt;/div&gt;
                  &lt;li class="superhero-list-content"&gt;
                    &lt;div class="list-selected"&gt;Superhero&lt;/div&gt;
                    &lt;ul class="list-style-selected"&gt;
                      &lt;li class="list-content"&gt;Batman&lt;/li&gt;
                      &lt;li class="list-content"&gt;Superman&lt;/li&gt;
                      &lt;li class="list-content"&gt;Green Lantern&lt;/li&gt;
                    &lt;/ul&gt;
                   &lt;/li&gt;
                  &lt;li class="list-content"&gt;Science Friction&lt;/li&gt;
                  &lt;li class="list-content"&gt;Horror&lt;/li&gt;
                  &lt;li class="list-content"&gt;Humor&lt;/li&gt;
                &lt;/ul&gt;
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
