<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/monokai.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Rating</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/lists.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Rating/rating.html"
          >Rating</a
        >
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Rating</h2>
          <p class="component-sub-heading">
            Rating Component helps capture the user feedback in form of rating.
            The greater the number of people leaving feedback, the more reliable
            a star rating is likely to be as an indicator of quality. It can be
            in form of visual starts. Here we have used font awesome for the
            icon and used classes 'rating', 'rating-checked' and
            'rating-unchecked' for the different variations of ratings.
          </p>
          <h2 class="component-title">Unchecked Rating</h2>
          <div class="component-sub-container">
            <div class="ratings-container">
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="ratings-container"&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
          <!-- checked rating -->
          <h2 class="component-title">checked Rating</h2>
          <div class="component-sub-container">
            <div class="ratings-container">
              <span class="checked-rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="checked-rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="checked-rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
              <span class="rating"
                ><i class="fa fa-star-half-o" aria-hidden="true"></i
              ></span>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="ratings-container"&gt;
                  &lt;span class="checked-rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="checked-rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="checked-rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                  &lt;span class="rating"
                    &gt;&lt;i class="fa fa-star-half-o" aria-hidden="true"&gt;&lt;/i
                  &gt;&lt;/span&gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
