<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Colors</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/colors/colors.html"
          >Colors</a
        >
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>

      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Colors</h2>
          <p class="component-sub-heading">
            Kart Comes with predefined set of colors. The colors used are
            personal choice of the creator and can be accessed by using the
            predefined classnames and also can be overridden by using class.
          </p>
          <p class="component-sub-heading">
            Below is the list of different colors used by Kart along with their
            hex codes.
          </p>
          <div class="component-sub-container color-container">
            <div class="colors-container primary">
              <h4 class="primary-text">Primary</h4>
              <h4 class="primary-text">#3D5AFE</h4>
            </div>
            <div class="colors-container success">
              <h4 class="success-text">Success</h4>
              <h4 class="success-text">#388E3C</h4>
            </div>
            <div class="colors-container danger">
              <h4 class="danger-text">Danger</h4>
              <h4 class="danger-text">#FF3000</h4>
            </div>
            <div class="colors-container warning">
              <h4 class="warning-text">Warning</h4>
              <h4 class="warning-text">#FFFF00</h4>
            </div>
            <div class="colors-container black">
              <h4 class="black-text">Black</h4>
              <h4 class="black-text">#000000</h4>
            </div>
          </div>
          <p class="component-sub-heading">
            In addition to the above basic colors the color white: #fffff along
            with the two different shades #f1f1f1 and #f8f8f8. Along with this
            we have use three different shades of the primary color #00008b,
            #e3f2fd and #78909c
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
