<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/favicon-32x32.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Modal</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
          <li class="navigation-header-right-menu">
            <a href="#" class="nav-text">Releases</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html">Alert</a>
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/lists.html">Lists</a>
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Modal/modal.html"
          >Modal</a
        >
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Modal Window</h2>
          <p class="component-sub-heading">
            A Modal is a message box that is displayed on top of your screen.
            Modals put an overlay on the screen; therefore, they take visual
            precedence over all the other elements. Here we have used to buttons
            which are similar to our button components along with with the
            classes 'modal modal-title' as shown below.
          </p>
          <div class="component-sub-container">
            <div class="modal-window-container">
              <div class="modal-window">
                <h3 class="model-title">Modal Title</h3>
                <p class="modal-summary">Modal Body Goes Here</p>
                <div class="modal-btns-container">
                  <button class="btn modal-btn-primary">Save Changes</button>
                  <button class="btn mdoal-btn-outlined btn-outlined-dangerous">
                    close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="modal-window"&gt;
                  &lt;h3 class="model-title"&gt;Modal Title&lt;/h3&gt;
                  &lt;p class="modal-summary"&gt;Modal Body Goes Here&lt;/p&gt;
                  &lt;div class="modal-btns-container"&gt;
                    &lt;button class="btn modal-btn-primary"&gt;Save Changes&lt;/button&gt;
                    &lt;button class="btn mdoal-btn-outlined btn-outlined-dangerous"&gt;
                      close
                    &lt;/button&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
          <!-- deactivate pop up -->
          <div class="component-sub-container">
            <div class="modal-window-container">
              <div class="modal-window">
                <h3 class="model-title">Deativate Pop Up</h3>
                <p class="modal-summary">
                  Are you sure you want to deactivate your account?
                </p>
                <div class="modal-btns-container">
                  <button class="deactivate-btn">Deactivate</button>
                  <button class="go-back-btn">Go Back</button>
                </div>
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                &lt;div class="modal-window"&gt;
                  &lt;h3 class="model-title"&gt;Deativate Pop Up&lt;/h3&gt;
                  &lt;p class="modal-summary"&gt;Are you sure you want to deactivate your account?&lt;/p&gt;
                  &lt;div class="modal-btns-container"&gt;
                    &lt;button class="deactivate-btn"&gt;Deactivate&lt;/button&gt;
                    &lt;button class="go-back-btn"&gt;
                    Go Back
                    &lt;/button&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
