<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    href="/images/favicon-32x32.png"
    type="image/png"
  />
    <link rel="stylesheet" href="../main.css" />
    <title>kart UI | Alert</title>
  </head>
  <body>
    <header class="header">
      <div class="header-logo"><a href="/index.html">kart-UI</a></div>
      <nav class="navigation-header">
        <ul class="navigation-header-right">
          <li class="navigation-header-right-menu">
            <a href="/components//main.html" class="nav-text">Documentation</a>
          </li>
          <li class="navigation-header-right-menu">
            <a href="https://github.com/RaviPratihast/kart-UI" class="nav-text"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="content-box">
      <aside class="content-box-sidebar-nav">
        <a class="sidebar-nav" href="/components/main.html">Get Started</a>
        <a class="sidebar-nav" href="/components/colors/colors.html">Colors</a>
        <a class="sidebar-nav" href="/components/Typography/typography.html"
          >Typography</a
        >
        <a class="sidebar-nav" href="/components/Alert/alert.html"
          >Components</a
        >
        <a
          class="sidebar-nav sidebar-nav-active"
          href="/components/Alert/alert.html"
          >Alert</a
        >
        <a class="sidebar-nav" href="/components/Avatar/avatar.html">Avatar</a>
        <a class="sidebar-nav" href="/components/Badge/badge.html">Badge</a>
        <a class="sidebar-nav" href="/components/Button/button.html">Button</a>
        <a class="sidebar-nav" href="/components/Card/card.html">Card</a>
        <a class="sidebar-nav" href="/components/Image/image.html">Image</a>
        <a class="sidebar-nav" href="/components/Input/input.html">Input</a>
        <a class="sidebar-nav" href="/components/Lists/list.html">Lists</a>
        <a class="sidebar-nav" href="/components/Modal/modal.html">Modal</a>
        <a class="sidebar-nav" href="/components/Navigation/navigation.html"
          >Navigation</a
        >
        <a class="sidebar-nav" href="/components/Rating/rating.html">Rating</a>
        <a class="sidebar-nav" href="/components/Toast/toast.html">Toast</a>
        <a class="sidebar-nav" href="/components/Slider/slider.html">Slider</a>
        <a
          class="sidebar-nav"
          href="/components/SimplifiedGrid/simplified-grid.html"
          >Simplified Grid</a
        >
      </aside>
      <section class="content-container">
        <div class="component-container">
          <h2 class="component-title">Alert</h2>
          <p class="component-sub-heading">
            The Alert component is used to displays a short, important message
            in a way that attracts the user's attention without interrupting the
            user's task.
          </p>
          <p class="component-sub-heading">
            There can be different types of alerts depending on the nature it
            could be a dangerous warning or task successfully executed alert.
          </p>
          <p class="component-sub-heading">
            Alerts can be created using the class 'alert' inside the div tag and
            also use the classnames 'alert-success', 'alert-primary',
            'alert-danger' and 'alert-warning' for the different types of
            alerts.
          </p>
          <div class="component-sub-container">
            <div class="alert-message-container">
              <div class="alert-message success-message-container">
                <h3 class="success-message-text alert-text">
                  Success Alert Message
                </h3>
                <a class="close">&times;</a>
              </div>
              <div class="alert-message danger-message-container">
                <h3 class="danger-message-text alert-text">
                  Danger Alert Message
                </h3>
                <a class="close">&times;</a>
              </div>
              <div class="alert-message info-message-container">
                <h3 class="info-message-text alert-text">Info Alert Message</h3>
                <a class="close">&times;</a>
              </div>
              <div class="alert-message warning-message-container">
                <h3 class="warning-message-text alert-text">
                  Warning Alert Message
                </h3>
                <a class="close">&times;</a>
              </div>
            </div>
          </div>
          <div class="component-sub-container">
            <pre>
              <code class="language-html">
                
                &lt;div class="alert-message success-message-container"&gt;
                &lt;h3 class="alert-message success-message-container"&gt;Success Alert Message&lt;/h3&gt;
                &lt;a class="close"&gt;&times;&lt;/a&gt;
                &lt;/div&gt;

                &lt;div class="alert-message danger-message-container"&gt;
                &lt;h3 class="alert-message danger-message-container"&gt;Danger Alert Message&lt;/h3&gt;
                &lt;a class="close"&gt;&times;&lt;/a&gt;
                &lt;/div&gt;

                &lt;div class="alert-message info-message-container"&gt;
                &lt;h3 class="alert-message info-message-container"&gt;Info Alert Message&lt;/h3&gt;
                &lt;a class="close"&gt;&times;&lt;/a&gt;
                &lt;/div&gt;

                &lt;div class="alert-message warning-message-container"&gt;
                &lt;h3 class="alert-message warning-message-container"&gt;Warning Alert Message&lt;/h3&gt;
                &lt;a class="close"&gt;&times;&lt;/a&gt;
                &lt;/div&gt;

                
              </code>
            </pre>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
